.articles-img {
    height: 300px;
    width: 98%;
    position: relative;
    margin-left: 10px;
}

.article-profile-header {
    height: 75px;
    width: 100%;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(211, 211, 211, 0.32);
}

.articles-thumbnail {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 5px;
}

.article-profile-name {
    font-size: 1.5em;
    color: grey;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.article-content {
    font-size: 1.5em;
    margin: 10px;
    word-break: break-word;
    color: grey !important;
    padding: 5px;
}

.article-post-title {
    font-size: .75em;
    color: darkgrey;
    text-transform: none;
}

.pointer {
    cursor: pointer;
}

.comment-actions {
    margin-top: 10px;
    font-size: 1.5em;
    color: darkgrey;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 5px;
    padding: 15px;
}

.comment-inline-response {
    min-height: 125px;
    width: 95%;
    padding: 20px;
    font-size: 1.0em;
    border-radius: 5px;
    background: #F1F1F1;
    color: grey;
    margin-left: 10px;
}

.comment-icons {
    margin-right: 30px;
    margin-left: 5px;
}

.comment-icon {
    color: grey;
    font-size: .85em !important;
}

.article-container {
    border-radius: 5px;
    margin: 15px;
}

.comment-section-1 {
    min-height: 50px;
    width: 95%;
    padding: 10px;
    font-size: 1.0em;
    border-radius: 5px;
    background: #F1F1F1;
    color: grey;
    margin-left: 10px;
}

.comment-section-2 {
    min-height: 125px;
    width: 95%;
    padding: 20px;
    font-size: 1.25em;
    border-radius: 5px;
    background: #F1F1F1;
    color: grey;
    margin-left: 10px;
}

.comment-section-3 {
    min-height: 125px;
    width: 95%;
    padding: 20px;
    font-size: 1.25em;
    border-radius: 5px;
    background: #F1F1F1;
    color: grey;
    margin-left: 10px;
}

.name {
    font-size: 1.5em;
    color: grey;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.comment-display-name {
    font-size: 1.0em;
    color: grey;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.addResponse-content {
    height: 40px;
    width: 75%;
    background: white;
    padding: 10px;
    margin-top: 10px;
    color: darkgrey;
    font-size: 1.25em;
    margin-left: 10px;
}

.comment-status {
    color: darkgrey;
    font-size: 1.25em;
}
